<%- include("templates/header.ejs") %> <%- include("templates/navbar.ejs") %>

<div class="contenedor">
  <div class="panel panel-main">
    <a href="/preguntas"><button class="boton">Ver preguntas</button></a>
    <a href="/categorias"><button class="boton">Ver categorías</button></a>
    <a href="/encuesta"><button class="boton">Configurar encuesta</button></a>
    <a href="/responder"><button class="boton">Responder a encuesta</button></a>
    <a href="/resultados"><button class="boton">Ver resultados</button></a>
  </div>
</div>

<%- include("templates/footer.ejs") %>
