<%- include('templates/header.ejs') %> <%- include('templates/navbar.ejs') %>

<div class="contenedor panel">
  <h3>Encuesta de Satisfacción al Cliente</h3>
  <p>
    Estimado cliente, nos dirigimos a usted para solicitarle la realización del
    siguiente cuestionario, con el propósito de ajustarnos mejor a sus
    necesidades. Su opinión es de gran importancia para nosotros.
  </p>
  <p>
    A continuación se suministrará una serie de preguntas con el propósito de
    mejorar nuestra calidad de servicio, favor de marcar la opción que
    corresponda a su opinión.
  </p>
  <a href="/responder/datos"> <button class="boton">Comenzar encuesta</button> </a>
  <a href="/">Regresar</a>
</div>

<%- include('templates/footer.ejs') %>
