:root {
  --colorDarkGray: #4a4a50;
}

h1 {
  font-size: var(--titulos);
  color: var(--colorlaquin);
  text-align: right;
  font-weight: 300;
}

h3 {
  font-size: var(--subtitulos);
  color: var(--color1);
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.panel {
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 7px 10px 0px gray;
  padding: 20px 50px;
}

.panel-main {
  width: 75%;
  margin: 5px auto;
  height: 75vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panel-form {
  margin: 15px;
  height: 32vh;
  overflow-y: scroll;
}

.panel-tabla {
  margin: 15px;
  height: 45vh;
  overflow-y: scroll;
  display: grid;
  gap: 1px;
}

.tabla-col4 {
  grid-template-columns: 1fr 5fr 2fr 1fr;
}

.tabla-col3 {
  grid-template-columns: 1fr 5fr 1fr;
}

.item-tabla {
  display: inline-grid;
  text-align: center;
  align-items: center;
  border: 1px solid rgba(150, 150, 150, 0.4);
  gap: 3px;
  border-radius: 5px;
}

.item-tabla-head {
  height: 45px;
  background-color: var(--colorDarkGray);
  color: white;
  padding: 5px 10px;
  border-top: 5px solid rgba(7, 200, 222, 0.7);
}

.boton {
  width: 100%;
  background-color: var(--colorDarkGray);
  display: inline-block;
  padding: 13px;
  border: none;
  color: #fff;
  font-family: "open sans";
  border-top: 5px solid rgba(7, 200, 222, 0.7);
}

.boton:hover {
  background-color: var(--colorFondo1);
}

.boton-rojo {
  background-color: rgb(170, 40, 40);
  border-top: 5px solid var(--colorlaquin);
}

.boton-rojo:hover {
  background-color: rgb(255, 100, 100);
}

.boton:focus {
  background-color: white;
  color: var(--colorDarkGray);
}

input[type="text"],
select {
  width: 100%;
  height: 20px;
  font-size: 1rem;
  color: var(--colorDarkGray);
  border: 1px solid lightgray;
  border-radius: 5px;
}

select {
  margin: 5px 0 20px 0;
  height: 30px;
}

.panel fieldset {
  margin: 15px 5px 25px 5px;
  padding: 15px 10px;
  border: 2px solid var(--colorlaquin);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 0px 7px 10px 0px rgba(160, 160, 190, 0.6);
}

.panel legend {
  color: rgb(85, 150, 70);
  font-weight: bold;
  text-align: center;
}

.panel p {
  text-indent: 10%;
  text-align: justify;
  margin: 15px 0;
}
