:root{
	--color1: rgb(23,73,180);
	--color2: rgba(23,180,83,.0788);
	--color3: rgba(11,194,211,.0623);
	--colorlaquin: #0165ae;
	--fondo: #f2f2f2;
	--titulos: 33px;
	--subtitulos: 18px;
	--margenes: 60px;
	--espacios: 10px;
	--espacios-contenido: 45px;
	--colorFondo1: #1e90e6b3;
	--colorFondo2: #34495e;
}


/*@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;

  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  font-weight: 300;
  src: url('fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;

  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  font-weight: 400;
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	font-family: 'Open Sans', 'sans-serif';
	font-size: 16px;
}

header{
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom,
		rgba(211,135,20, .664),
		rgba(29,241,171, .6),
		rgba(7,109,150, .45)
		), url(../img/back.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
}

#center {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	height: 50%;
	width: 100%;
}

header .titulo{
	font-size: 85px;
}

header .subtitulo{
	font-size: 42px;
	font-weight: 300px;
	margin-bottom: 32px;
}

header .boton{
	display: inline-block;
	padding: 6px;
	width: 126px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 19px;
	text-align: center;
	text-decoration: none;
	border-radius: 16px;
}

header .boton:hover{
	background: #FFF;
	color: #85d8cf;
}

.botonFlotante{
	display:scroll;
	position:fixed;
	bottom: 50%;
	right:10px;
	padding: 6px;
	border: 1px solid var(--colorFondo1);
	background: var(--colorFondo1);
	border-radius: 50px 50px;
	width: 50px;
	height: 50px;
	color: #fff;
	font-size: 24px;
	z-index: 99;
	animation: botonFlotante2 1.5s infinite linear;
}

@keyframes botonFlotante {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);background:#2ecc71;}
    100% {transform: rotate(360deg);}
}

@keyframes botonFlotante2 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(0deg);margin-bottom: 20px;}
    100% {transform: rotate(0deg);}
}

/************************************************** NAV ************************************************************************/
nav{
	position: fixed;
	box-shadow: 0 0 10px 0 rgba(0,0,0, .5);
	width: 100%;
	z-index: 11;
}

.nav1{
	background: transparent;
	height: 80px;
	color: #fff;
}

.nav2, .nav3{
	background: var(--fondo);
	height: 90px;
	color: #000;
}

.contenedor-nav{
	display: flex;
	margin: auto;
	width: 90%;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	height: inherit;
	overflow: hidden;
}

nav .enlaces a{
	display: inline-block;
	padding: 5px 0;
	margin-right: 17px;
	font-size: 17px;
	font-weight: 300;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	color: inherit;
}

nav .enlaces a:hover, nav .enlaceI a:hover{
	border-bottom: 3px solid #1498a4;
}

.logo, .logo img{
	height: 80px;
}

.icono{
	display: none;
	font-size: 24px;
	padding: 23.5px 20px;
}

nav .enlaceI a{
	display: inline-block;
	padding: 5px 0;
	margin-right: 17px;
	font-size: 17px;
	font-weight: 300;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	color: inherit;
}

/* *****************************************************  Modal flex  *****************************************************************/
.flex{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal{
	display: none;
	position: fixed;
	z-index: 100;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.452);
}

.contenido-modal{
	position: relative;
	background-color: #fefefe;
	color: #7f8c8d;
	margin: auto;
	width: 50%;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0,0 .4);
	animation-name: modal;
	animation-duration: 1s;
}

@keyframes modal{
	from{top:-330; opacity: 0;}
	to{top: 0; opacity: 1;}
}

.close{
	color: #f2f2f2;
	font-size: 30px;
	font-weight: bold;
}

.close:hover{
	color: #7f8c8d;
	text-decoration: none;
	cursor: pointer;
}

.modal-header, .modal-footer{
	padding: 8px 16px;
	/*background: #34495e;*/
	background: var(--colorFondo1);
	color: #f2f2f2;
}

.p-modal{
	text-align: justify;
}

.input-modal{
	background: var(--colorFondo2);
}
.modal-body{
	padding: 20px 16px;
}

.alert{
	height: 46px;
	display: inline-flex;
	width: 40%;
	background: var(--colorFondo2);
}

.sesgoabajo{
	z-index: 10;
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 0 35vh 100vw;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}
/* *****************************************************  Modal flex  *****************************************************************/
/* *****************************************************  Modal flex Error *****************************************************************/
.modal_wrap{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.8);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 103;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mensaje_modal{
	background: #fff;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	width:400px;
	padding: 30px 20px 15px;
}

.mensaje_modal h3{
	text-align: center;
	font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #c5c5c5;
	margin: 10px 0px 15px;
}

.modal_mensaje p{
	font-size: 16px;
	color: #606060;
}

.tache{
	color: #e25151;
	margin-right: 8px;
	font-weight: 900;
}

.mensaje_modal #btnClose{
	display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;
	background: #e25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;

	float: right;
}
/* *****************************************************  Modal flex  *****************************************************************/

.sesgoarriba{
	z-index: 10;
	position:absolute;
	top: 0;
	left: 0;
	border-width: 35vh 100vw 0 0;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
}

.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
	padding: 23px 0;
}

.sobre-nosotros{
	text-align: center;
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 600;
}

.slogan{
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 24px;
}

.parrafo{
	margin-bottom: 13px;
	font-weight: 300;
	text-align: justify;
	line-height: 24px;
	color: rgb(24,16,16);
}

.FFF{
	color: #fff;
	font-weight: 400;
}

.acerca-de .boton{
	display: inline-block;
	padding: 6px;
	width: 126px;
	border: 1px solid rgb(24,16,16, .7);
	color: rgb(24,16,16);
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	border-radius: 16px;
	margin-top: 24px;
}

.galeria{
	width: 100%;
	height: 500px;
	overflow: hidden;
	display: flex;
	position: relative;
}

.imagenes {
	width: 20%;
	height: 500px;
	overflow: hidden;
	position: relative;
}

.imagenes img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.encima{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #34495e;
}

.encima h2{
	position: relative;
	top: 45%;
	text-align: center;
	color: #fff;
}

.encima div{
	position: relative;
	display: block;
	top: 46%;
	height: 5px;
	background: #fff;
	margin: auto;
}

.cards{
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.cardBox{
	width: 30%;
	transition: all 0.3s ease 0s;
	perspective: 1000px;
}

.card{
	margin: 2% 0;
	width: 100%;
	height: 250px;
	text-align: center;
	box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
	/*Efecto flip*/
	transition: transform 0.4s ease 0s;
	transform-style: preserve-3d;
	animation: giro 1s 1;
}

.cardBox:hover .card{
	transform: rotateY(180deg);
}

.front, .back{
	backface-visibility: hidden;
	box-sizing: border-box;
	height: 100%;
	position: absolute;
	width: 100%;
	text-align: center;
	background: #fff;
	padding: 2%;
	margin: 0 auto;
}

.back{
  transform: rotateY(180deg);
  text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cards img{
	width: 140px;
	height: 140px;
	object-fit: cover;
	border-radius: 100%;
}

.centerFront{
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards .aya{
	width: 100%;
	object-fit: contain;
	border-radius: 0;
}

.imision{
  font-size: 170px;
  font-weight: 900;
  /*color: #07be81;*/
  color: #61b1ed;
}

.fondo{
	/*height: 900px;*/
	height: 100vh;
	position: relative;
	/*background-image: url(../img/fondo.jpg);*/
	background: linear-gradient(to bottom,
		rgba(52,73,94, .664),
		rgba(52,73,94, .6),
		rgba(7,109,150, .45)
		), url(../img/fondo.jpg);
	overflow: hidden;
	background-attachment: fixed;
	background-position: center;
	/*padding-top: 80px;*/
}

.sesgoabajo-unico{
	z-index: 10;
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 0 35vh 100vw;
	border-style: solid;
	border-color: transparent transparent #2c3e50 transparent;
}

.titulo-patrocinadores, .subtitulo-patrocinadores, .titulo-footer, .subtitulo-footer{
	color: #fff;
	text-align: center;
}

.titulo-patrocinadores{
	font-size: 56px;
	margin-top: 48px;
}

.subtitulo-patrocinadores, .subtitulo-footer{
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 44px;
}

.clientes{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 64px;
	width: 100%;
	justify-content: space-between;
}

.cliente{
	width: 30%;
}

.cliente img{
	width: 100%;	
}

#servicios{
	height: 700px;
}

.tituloMap{
	width: 250px;
	overflow: hidden;
}

footer{
	background: #2c3e50;
	height: auto;
}

.titulo-footer{
	font-size: 56px;
}

hr{
	margin: 5px;
}

.enlaces-footer{
	text-align: center;
	padding-bottom: 5px;
}

footer div a{
	display: inline-block;
	padding: 5px 5px 0 5px;
	margin-right: 17px;
	font-size: 17px;
	font-weight: 300;
	text-decoration: none;
	color: #fff;
	/*border-bottom: 3px solid var(--colorFondo1);*/
	border: 2px solid var(--colorFondo1);
}

footer div a:hover{
	border-bottom: 3px solid #1498a4;
}

form{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: auto;
}

input[type="text"], input[type="email"], input[type="tel"]{
	display: inline-block;
	width: 48%;
	padding: 13px;
	border: none;
	color: #fff;
	font-family: 'open sans';
	/*background: rgba(37, 37, 33, .7);*/
	margin-bottom: 16px;
	border-top: 5px solid rgba(7, 200, 222, 0.7);
	
}
.input-footer{
	background: rgba(37, 37, 33, .7);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus{
	border-top: 5px solid rgba(112, 249, 157, 0.7);
}

textarea{
	display: block;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	max-height: 200px;
	min-height: 200px;
	background: rgba(37, 37, 33, .7);
	padding: 13px;
	border: none;
	color: #fff;
	font-family: 'open sans';
	margin-bottom: 16px;
}

input[type="submit"]{
	display: inline-block;
	padding: 13px;
	border: none;
	color: #fff;
	background: rgba(37, 37, 33, .7);
	width: 96px;

}

input[type="file"]#fileCV {
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
 }

label[for="fileCV"] {
 font-size: 11px;
 font-weight: 600;
 color: #fff;
 background-color: #106BA0;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 13px 30px !important;
 text-transform: uppercase;
 width: fit-content;
 text-align: center;
 }

.barra{
	background-color: #f3f3f3;
	border-radius: 5px;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,.2);
	height: 25px;
}

.barra-azul{
	background-color: #247cc0;
	border-radius: 10px;
	display: block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 0%;
}

.barra_verde{
	background-color: #2EA265 !important;
}

.barra_roja{
	background-color: #DE3152 !important;
}

#barra_estado span{
	color: #FFF;
	font-weight: bold;
	line-height: 25px;
}

#aviso{
	padding-top: 130px;
}
/************************************************************************************************************************
************************************************************MEDIA SCREEN*************************************************/

@media screen  and (max-width: 900px){

	.cardBox{
		width: 48%;
	}

	.slider2 {
		height: 250px;
	}

	.embed-container{
		height: 100%;
		min-height: 600px;
	}

	.tituloMap{
		overflow: hidden;
	}

	.contenido-modal{
		width: 70%;
	}


	
}

@media screen and (max-width: 800px){

	header .titulo{
		font-size: 65px;
	}

	header .subtitulo{
		font-size: 32px;
		font-weight: 300px;
		margin-bottom: 32px;
	}

	.nav2{
		color: #fff;
	}

	.icono{
		display: block;
		cursor: pointer;
	}

	.enlaces{
		position: fixed;
		top: 80px;
		background: #2c3e50;
		left: 0;
		height: 100%;
		transition: 1s;
		width: 0;
		overflow: hidden;
	}

	.enlaces a{
		display: block;
		width: 100%;
		height: 50px;
		padding: 20px;
		text-align: center;
		color: #fff;
		background: #34495e;
	}

	.embed-container{
		height: 600px;
		width: 100vw;
	}
	
}

@media screen and (max-width: 610px){

	header .titulo{
	font-size: 60px;
	}

	header .subtitulo{
		font-weight: 200;
	}

	.none{
		display: none;
	}

	.imagenes{
		flex-grow: 1;
	}

	.cardBox{
		width: 90%;
	}

	.fondo{
		height: auto;
	}

	.cliente{
		width: 90%
	}

	.contenido-modal{
		width: 85%;
	}

	.embed-container{
		margin-left: 11vw;
		margin-right: 19vw;
	}

	.slider2{
		height: 150px;
	}

	.tituloMap{
		width: 100px;
	}
}

@media screen and (max-width: 480px){

	.slider2 {
		display: none;
	}

	.embed-container {
		margin-left: 10vw;
		margin-right: 20vw;
	}

	#formulario-contacto .input-modal{
		display: block;
		width: 100%;
		padding: 8px;
		margin-bottom: 10px;
	}

	#servicios{
		height: 730px;
	}


}


@media screen and (max-width: 380px){

	header .titulo{
		font-size: 50px;
	}

	header .subtitulo{
		font-size: 23px;
	}

	.sobre-nosotros{
		font-size: 46px;
	}

	.slogan {
		font-size: 20px;
	}

	.titulo-patrocinadores{
		font-size: 46px;
	}

	.subtitulo-patrocinadores{
		font-size: 20px;
	}
	
}



/**************************************************galeria**********************************************************************/
/**************************************************galeria**********************************************************************/

.slider ul, .slider2 ul {
	display: flex;
	height: 100%;
	padding: 0;
	width: 400%;
	animation: cambio 10s infinite alternate linear;
}

.slider li, .slider2 li {
	width: 100%;
	list-style: none;
}

.slider img, .slider2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/************************footer navigation***************************************/
/************************footer navigation***************************************/
.footer-navigation{
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
	color:#fff;
	padding-left: 2em;
}

#acc-ema{
	font-size: 8px;
	text-align: center;
	font-weight: 500;
}

sup{
	font-family: "Times New Roman";
}