.panel-tabla {
  gap: 0px;
}

.item-tabla {
  border: 1px solid black;
  border-radius: 0px;
  color: black;
  font-size: 9pt;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.item-tabla-head {
  background-color: rgb(84, 141, 212);
  font-size: 9pt;
  font-weight: bold;
}

.item-tabla-text {
  text-align: left;
}

.full {
  grid-column: 1 / -1;
  text-align: left;
  padding: 2px;
  background-color: lightgray;
  font-size: 8pt;
  font-weight: bold;
}

.half {
  grid-column: 2 / -1;
  text-align: center;
}

.panel-tabla>.boton {
  grid-column: 1 / -1;
}

.intro {
  padding: 35px;
  font-size: 8pt;
  text-align: justify;
}

.intro p,
.intro h3,
.intro label,
b {
  color: black;
  font-family: Arial, 'Liberation Sans', Helvetica, sans-serif;
  /* font-weight: bold; */
}


.intro h3 {
  font-size: 14pt;
  /* font-weight: bolder; */
}

.intro span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro>div>label {
  font-weight: bold;
}

.intro .logo {
  height: 70px;
}

.estimado {
  text-indent: 35px;
  font-size: 10pt;
}

.continuacion {
  margin: 5px 0 -40px 35px;
  font-weight: bold;
}

.nomargin {
  margin: -12px 0;
  padding: 0 40px;
}

.blanco {
  background-color: var(--fondo);
}